/*colors*/
$primary-color: #620819;
$secondary-color: #000;
$tertiary-color: #fefefe;
$quaternary-color: #888;
$quinary-color: rgb(0,0,0);
$senary-color: rgba(0,0,0,0.4);
$septenary-color: rgba(0,0,0,0.2);
$octonary-color: rgba(0,0,0,0.19);
$nonary-color: #FFE0E6;
$denary-color: #e7e5e5;
$undecimal-color: #aaa;
$duodecimal-color: #666;

/*Fonts*/
$font-family: 'Dynalight', cursive;
$font-family2: 'Lora', serif;;

/*images*/
$homeBackground: url(./images/bagground.png);


/*Navbar*/
.navbar-brand{
    font-family: $font-family;
    color: $primary-color;
}

.navbar-burger{
    background-color: $nonary-color; 
    color: $primary-color;
    border: $primary-color 4px solid; 
    border-radius: 10px; 
    width: 60px;
    height: 45px;
}
.navbar-burger span{
    height: 2px;
}
.navbar-item{
    font-family: $font-family2;
    color: $primary-color;
}

.navbar-brand a {
    color: $primary-color;
    font-family: $font-family;
}
/*Hjem*/
.hero{
    background-color: #fefefe;
}
figure {
    max-width: 350px; 
    margin: 0 auto;
    
}
.title{
    font-family: $font-family;
    color: $primary-color;
}
.tit{
    font-family: $font-family;
    color: $primary-color;
    
}
#tit{
    font-family: $font-family2;
}

p, .column{
    font-family: $font-family2;
}
#btn{
    color: $secondary-color;
    font-family: $font-family2;
    border: 3px solid $primary-color;
    padding: 10px 65px;
    border-radius: 30px;
    text-decoration: none;
}    
.button:hover{
    background-color:$primary-color;
    color: $secondary-color;
    opacity: 1;
}
.icon i:hover{
    color: $primary-color;
    transform: scale(1.2);
}
/*Om*/
h2{
    font-family: $font-family2;
    color: $primary-color;
}
#udd{
    font-family: $font-family2;
    color: $primary-color;
}
#stil{
    border-bottom: 2px solid $primary-color;
    width: 55px;
}
#stils{
    border-bottom: 2px solid $primary-color;
    width: 35px;
}
iframe{
    border: 2px solid $primary-color;
    width:600px;
    height:338px;
}
h3 span{
    color: $primary-color;
    font-family: $font-family2;
}
.columns{
    color: $primary-color;
    font-family: $font-family2;
}
.box{
    border: $denary-color 1px solid;
}
.icon{
    color: $primary-color;
}
    /*projekter*/
.projekt {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    overflow: hidden;
    position: relative;
    flex: 1 1 40rem;
}

.scope {
    position: relative;
    width: 180px;
    height: 180px;
    transform-style: preserve-3d;
    animation: slid 30s linear infinite;
}

.scope span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.scope span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.scope span:hover img {
    transform: translateY(-50px) scale(1.7);
}
.modal {
    display: none; /* Skjult som standard */
    position: fixed; /* Bliver på plads */
    z-index: 1; /* Oven på alt andet */
    right: 0;
    top: 0;
    width: 100%; /* Fuldt bredde */
    height: 100%; /* Fuldt højde */
    overflow: auto; /* Aktiverer scroll hvis nødvendigt */
    background-color: $quinary-color; /* Sort baggrund */
    background-color: $senary-color; /* Sort med lidt gennemsigtighed */
}

.modal-content {
    background-color: $tertiary-color;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid $quaternary-color;
    width: 90%; 
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 $septenary-color, 0 6px 20px 0 $octonary-color;
}
.modalImage{
    height: auto;
    width: 100%;
}

.close {
    color: $undecimal-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: $secondary-color;
    text-decoration: none;
    cursor: pointer;
}
@keyframes slid {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}
/* Media Queries for responsivitet */
@media (min-width: 768px) {
    .modal-content {
        margin: 15% auto; /* Mere plads på større skærme */
        padding: 40px; /* Mere padding på større skærme */
    }
}

@media (min-width: 1024px) {
    .modal-content {
        margin: 10% auto; /* Justeret margin for store skærme */
        padding: 60px; /* Mere padding for store skærme */
    }
}

.icon-text span{
    font-family: $font-family2;
    color: $primary-color;
}
.icon-text a{
    color: $primary-color;
}
.input{
    border: 1px solid $primary-color;
    font-family: $font-family2;
}
.textarea{
    border: 1px solid $primary-color;
    font-family: $font-family2;
    color: $secondary-color;
}
#bt{
   border: 1px solid $primary-color;
   color: $secondary-color; 
   padding: 10px 65px; 
   font-family: $font-family2;
}
